# Fantasy Statbook
## Player Data Setup

In [2]:
import pandas as pd
import glob

In [19]:
players = {
    'name': [],
    'player_code': []
}

path = os.getcwd()+'\\data\\yearly'

# read all the files with extension .csv
filenames = glob.glob(path + "\*.csv")

c = 100
for file in filenames:
    df = pd.read_csv(file)
    unique_players = df['Player'].unique().tolist()

    for player in unique_players:
        if player not in players['name']:
            players['name'].append(player)
            #players['years_played'].append(i)
            players['player_code'].append(c)
            c+=1
    
df_players = pd.DataFrame(players)
df_players
#df_players.to_csv('players.csv')

                  name  player_code
0          Ron Johnson          100
1          Dick Gordon          101
2      Gene Washington          102
3        Gary Garrison          103
4       MacArthur Lane          104
...                ...          ...
6178    Juwann Winfree         6278
6179       Greg Dortch         6279
6180  Darrius Shepherd         6280
6181   Jarrett Stidham         6281
6182    Michael Walker         6282

[6183 rows x 2 columns]

In [48]:
df_all = pd.DataFrame(columns=['Unnamed: 0', 'player_code', 'year', 'Player', 'Tm', 'Pos', 'Age', 'G', 'GS', 'Cmp', 'Att',
       'Yds', 'Int', 'Att.1', 'Yds.1', 'Tgt', 'Rec', 'Yds.2', 'Y/R', 'Fumbles',
       'FumblesLost', 'PassingYds', 'PassingTD', 'PassingAtt', 'RushingYds',
       'RushingTD', 'RushingAtt', 'ReceivingYds', 'ReceivingTD',
       'FantasyPoints'])

for file in filenames:
    year = file.replace(os.getcwd()+'\\data\\yearly\\', '')
    year = year.replace('.csv', '')
    df = pd.read_csv(file)
    
    print(year)
    codes = []
    years = []
    for index, row in df.iterrows():
        #codes.append(players.get(row['Player']))
        df_s = df_players.loc[df_players['name'] == row['Player']]
        #print(int(df_s.iloc[0]['player_code']))
        codes.append(int(df_s.iloc[0]['player_code']))
        years.append(year)
    df['player_code'] = codes
    df['year'] = year
    #print(df.columns)
    df_all = df_all.append(df)

1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019

In [52]:
df_all
df_all = df_all.drop(columns='Unnamed: 0')

,player_code,year,Player,Tm,Pos,Age,G,GS,Cmp,Att,...,FumblesLost,PassingYds,PassingTD,PassingAtt,RushingYds,RushingTD,RushingAtt,ReceivingYds,ReceivingTD,FantasyPoints
0,100,1970,Ron Johnson,NYG,RB,23.0,14.0,14.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1027.0,8.0,263.0,487.0,4.0,261.40
1,101,1970,Dick Gordon,CHI,WR,26.0,14.0,14.0,0.0,0.0,...,0.0,0.0,0.0,0.0,17.0,0.0,4.0,1026.0,13.0,249.30
2,102,1970,Gene Washington,SFO,WR,23.0,13.0,13.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1100.0,12.0,235.00
3,103,1970,Gary Garrison,SDG,WR,26.0,14.0,14.0,0.0,0.0,...,0.0,0.0,0.0,0.0,7.0,0.0,4.0,1006.0,12.0,217.30
4,104,1970,MacArthur Lane,STL,RB,28.0,14.0,14.0,0.0,0.0,...,0.0,0.0,0.0,0.0,977.0,11.0,206.0,365.0,2.0,240.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
615,6083,2019,Ray-Ray McCloud,CAR,0,23.0,6.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-2.00
616,6280,2019,Darrius Shepherd,GNB,WR,24.0,6.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-0.90
617,6281,2019,Jarrett Stidham,NWE,QB,23.0,3.0,0.0,2.0,4.0,...,0.0,14.0,0.0,4.0,-2.0,0.0,2.0,0.0,0.0,-1.64
618,6282,2019,Michael Walker,JAX,WR,23.0,7.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0,0.0,-0.50
619,5883,2019,Corey Clement,PHI,0,25.0,4.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.00